<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static',filename='css/addEvent.css') }}">
    <title>Add Event</title>
</head>

<body>
    {% extends 'header.html.jinja' %} {% block content %}
    <div>
        <div id="gap">

        </div>
        <br>
        <form  method = "post">
            <fieldset id="formholders">
                <legend>_Please provide the following details of the new Event_</legend>
                <div id="gap">

                </div>
                
                <table>
                    <tr>
                        <td>
                            <label for="fname">Event Name</label>
                            <input type="text" id="fname" name="event_name" placeholder="Event Name" required>
                        </td>
                        <td>
                            <label for="fname">Event Venue</label>
                            <input type="text" id="fname" name="event_venue" placeholder="Event Venue">
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <label for="fname">Description</label>
                            <textarea rows="4" name="event_desc" minlength="0" maxlength="1000" placeholder="Description"></textarea>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label for="fname">Event Date</label><br><br>
                            <input type="date" id="fname" name="event_date" required>
                        </td>
                        <td>
                            <label for="fname">Event Time</label><br><br>
                            <input type="time" id="fname" name="event_time">
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label for="fname">Contact Name</label>
                            <input type="text" id="fname" name="contact_name" placeholder="Contact Name">
                        </td>
                        <td>
                            <label for="fname">Contact Number</label>
                            <input type="text" id="fname" name="contact_num" placeholder="Contact Number">
                        </td>
                    </tr>
                    <!-- <tr>
                        <td>
                            <label for="country">participent Type</label>
                            <select id="country" name="country">
                                <option value="australia" selected>-----</option>
                              <option value="australia">Faculty</option>
                              <option value="canada">Student</option>
                              <option value="usa">Guest</option>
                            </select>
                        </td>
                    </tr> -->
                    <tr>
                        <td colspan="2">
                            <input type="submit" value="Submit">
                        </td>
                    </tr>
                </table>
                <div id="gap">

                </div>
            </fieldset>
        </form>
        <div id="gap">

        </div>
    </div>
    {% endblock %}
</body>

</html>