<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static',filename='css/dash.css') }}">
    <script src="/static/scrirts/dash.js"></script>
    <title>Dashboard</title>
</head>

<body>
    {% extends 'header.html' %} {% block content %}
    <div id="headingholders">
        <br><br>
        <div id="gap">

        </div>
        <H1 id="HEADING1">> WELCOME ADMIN_</H1>
        <H3 id="HEADING">> What do you have in mind today?_</H3>
    </div>
    <div id="gap">

    </div>
    <div id="eventsholder">
        <div class="dropdown">
            <a href="/addEvent">
                <button class="dropbtn">Add New Event_</button> </a>
            <br><br>
            <button onclick="myFunction()" class="dropbtn">Check Event List_</button>
            <div id="myDropdown" class="dropdown-content">
                <a href="/event">event1</a>
                <a href="#">Link 2</a>
                <a href="#">Link 3</a>
            </div>


        </div>

    </div>
    <br> {% endblock %}
</body>

</html>