<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static',filename='css/event.css') }}">
    <title>Event1</title>
</head>

<body>
    {% extends 'header.html.jinja' %} {% block content %}
    <div id="headingholders">
        <br><br>
        <H1 id="HEADING1">> Event_name</H1>
        <H3 id="HEADING">> details</H3>
        <H3 id="HEADING">> venue</H3>
    </div>
    <div class="dropdown">
        <p class="dropbtn">filter participents:
            <select name="ptypes" id="ptypes">
            <option value="default" selected>-----</option>
            <option value="faculty">faculty</option>
            <option value="Student">Student</option>
            <option value="guest">guest</option>
          </select></p>
    </div>

    <div id="participents">
        <table id="participents">
            <tr>
                <th>Company</th>
                <th>Contact</th>
                <th>Country</th>
            </tr>
            <tr>
                <td>Alfreds Futterkiste</td>
                <td>Maria Anders</td>
                <td>Germany</td>
            </tr>
            <tr>
                <td>Berglunds snabbköp</td>
                <td>Christina Berglund</td>
                <td>Sweden</td>
            </tr>
            <tr>
                <td>Centro comercial Moctezuma</td>
                <td>Francisco Chang</td>
                <td>Mexico</td>
            </tr>
            <tr>
                <td>Ernst Handel</td>
                <td>Roland Mendel</td>
                <td>Austria</td>
            </tr>
            <tr>
                <td>Island Trading</td>
                <td>Helen Bennett</td>
                <td>UK</td>
            </tr>
            <tr>
                <td>Königlich Essen</td>
                <td>Philip Cramer</td>
                <td>Germany</td>
            </tr>
            <tr>
                <td>Laughing Bacchus Winecellars</td>
                <td>Yoshi Tannamuri</td>
                <td>Canada</td>
            </tr>
            <tr>
                <td>Magazzini Alimentari Riuniti</td>
                <td>Giovanni Rovelli</td>
                <td>Italy</td>
            </tr>
            <tr>
                <td>North/South</td>
                <td>Simon Crowther</td>
                <td>UK</td>
            </tr>
            <tr>
                <td>Paris spécialités</td>
                <td>Marie Bertrand</td>
                <td>France</td>
            </tr>
        </table>

    </div>
    <div id="gap">

    </div>
    <div id="gap">

    </div>

    {% endblock %}
</body>

</html>