<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static',filename='css/event.css') }}">
    <title>Admin Event List</title>
</head>

<body>
    {% extends 'header.html.jinja' %} {% block content %}
    <div id="headingholders">
        <br><br>
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for message in messages %}
                    <h3 id = "HEADING">> {{ message }}</h3>
                {% endfor %}
                </ul>
            {% endif %}
        {% endwith %}
        <H1 id="HEADING1">> Event List</H1>
    </div>

    <div id="participents">
        <table id="participents">
            <tr>
                <th>Name</th>
                <th>Venue</th>
                <th>Date</th>
                <th>Time</th>
                <th>POC Name</th>
                <th>POC Contact</th>
            </tr>
            {% for event in all_events %}
            <tr onclick="window.location='{{ url_for('event', event_id = event[0]) }}'">
                <td>{{event[1]}}</td>
                <td>{{event[2]}}</td>
                <td>{{event[4]}}</td>
                {% if event[5] == None %}
                    <td> </td>
                {% else %}
                    <td>{{event[5]}}</td>
                {% endif %}
                <td>{{event[6]}}</td>
                <td>{{event[7]}}</td>
            </tr>
            {% endfor %}
        </table>

    </div>
    <div id="gap">

    </div>
    <div id="gap">

    </div>

    {% endblock %}
</body>

</html>