<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static',filename='css/event.css') }}">
    <title>{{ event_row[1] }}</title>
</head>

<body>
    {% extends 'header.html.jinja' %} {% block content %}

    

    <div id="headingholders">
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for message in messages %}
                    <h3 id = "HEADING">> {{ message }}</h3>
                {% endfor %}
                </ul>
            {% endif %}
        {% endwith %}
        <br><br>
        <H1 id="HEADING1">> {{ event_row[1] }}</H1>
        <H3 id="HEADING">> {{ event_row[3][:100] }}</H3>
        <H3 id="HEADING">> Venue: {{ event_row[2] }}</H3>
        <H3 id="HEADING">> POC Name: {{ event_row[6] }}</H3>
        <H3 id="HEADING">> POC Contact: {{ event_row[7] }}</H3>
        <br>
        <H3 id="HEADING">> <a href = "{{url_for('modify_event', event_id = event_row[0])}}">Click to Modify</a></H3>
        <H3 id="HEADING">> <a href = "{{url_for('event_delete_confirmation', eventid = event_row[0])}}">Click to Delete</a></H3>
    </div>

    <br>
    <br>
    <div id="participents">
        <H3 id="HEADING">> Registered Students</H3>
        <table id="participents">
            <tr>
                <th>PID</th>
                <th>Roll Number</th>
                <th>Name</th>
                <th>Email</th>
                <th></th>
                <th></th>
            </tr>
            {% for student in students %}
                <tr>
                    <td>{{ student[0] }}</td>
                    <td>{{ student[1] }}</td>
                    <td>{{ student[2] }}</td>
                    <td>{{ student[3] }}</td>
                    <td><a class = "deletion" href = "{{url_for('deregister_confirm', pid = student[0], event_id = event_row[0])}}">Deregister</a></td>
                    <td><a class = "deletion" href = "{{url_for('delete_person_confirm', pid = student[0])}}">Delete</a></td>
                </tr>
            {% endfor %}
        </table>
        <br><br><br>

        <H3 id="HEADING">> Registered Faculties</H3>
        <table id="participents">
            <tr>
                <th>PID</th>
                <th>Faculty ID</th>
                <th>Name</th>
                <th>Contact Number</th>
                <th></th>
                <th></th>
            </tr>
            {% for faculty in faculties %}
                <tr>
                    <td>{{faculty[0]}}</td>
                    <td>{{faculty[1]}}</td>
                    <td>{{faculty[2]}}</td>
                    <td>{{faculty[3]}}</td>
                    <td><a class = "deletion" href = "{{url_for('deregister_confirm', pid = faculty[0], event_id = event_row[0])}}">Deregister</a></td>
                    <td><a class = "deletion" href = "{{url_for('delete_person_confirm', pid = faculty[0])}}">Delete</a></td>
                </tr>
            {% endfor %}
        </table>
        <br><br><br>

        <H3 id="HEADING">> External Students</H3>
        <table id="participents">
            <tr>
                <th>PID</th>
                <th>Aadhar Number</th>
                <th>Name</th>
                <th>College</th>
                <th></th>
                <th></th>
            </tr>
            {% for outsider in outsiders %}
                <tr>
                    <td>{{outsider[0]}}</td>
                    <td>{{outsider[1]}}</td>
                    <td>{{outsider[2]}}</td>
                    <td>{{outsider[3]}}</td>
                    <td><a class = "deletion" href = "{{url_for('deregister_confirm', pid = outsider[0], event_id = event_row[0])}}">Deregister</a></td>
                    <td><a class = "deletion" href = "{{url_for('delete_person_confirm', pid = outsider[0])}}">Delete</a></td>
                </tr>
            {% endfor %}
        </table>

    </div>
    <div id="gap">

    <div id="headingholders">
        <br><br>
        <H3 id="HEADING">> The deregister option cancels the participation of a person in this event.</H3>
        <H3 id="HEADING">> The delete option completely deletes the person from the database.</H3>
    </div>

    <br><br>

    <div id="gap">

    </div>

    <div id="gap">

    </div>

    {% endblock %}
</body>

</html>